
<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a class="social-icon-twit" href="https://www.twitter.com/AjayKumar6612">
        <i class="fa-brands fa-square-x-twitter"></i>
      </a>
      <!-- <a class="social-icon" href="https://www.">
        <i class="fa-brands fa-facebook"></i>
      </a> -->
      <a class="social-icon-insta instagram" href="https://www.instagram.com/b.tech_ak">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="social-icon-in" href="https://www.linkedin.com/in/mr-ak/">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a class="social-icon-yt" href="https://www.youtube.com/@MrAKTv">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>
    <div class="f-info-brand">&copy;WandarLust Privet Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terams">Terams</a>
    </div>
  </div>
</footer>
